.cards__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 94px;
}

.cards__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cards__right {
    display: flex;
    flex-direction: column;
}

.cards__title {
    margin-top: 0;
}

.cards__element {
    padding: 30px 50px;
    margin-bottom: 40px;
    border-radius: 20px;
    background-color: white;
}

.cards__list-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 498px;
    font-size: 20px;
    /* height: 56px; */
    border-radius: 10px;
    background-color: #F2F4F8;
}

.cards__list-form:not(:last-child) {
    margin-bottom: 13px;
}

.cards__list-span {
    margin: 0;
    padding: 16px 19px;
    color: #777777;
}

.bold {
    font-weight: 700;
}

.cards__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 16px;
    margin-bottom: 18px;
    width: 336px;
    height: 50px;
    border-radius: 50px;
    font-size: 20px;
    color: white;
    background-color: #0297D4;
}

.cards__icon {
    margin-right: 5px;
}

.cards__adress {
    display: flex;
    flex-direction: column;
    padding: 16px 19px;
    margin-top: 10px;
    width: 336px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #FFF5CC;
}

.cards__addr {
    display: flex;
    flex-direction: row;
    align-items: center;
   
    color: #777777;
}

.cards__span {
    margin-top: 10px;
    color: #1B1E1F;
}

.cards__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 16px 19px;
    margin-top: 24px;
    width: 336px;
    color: #0297D4;
    border: 1px solid #0297D4;
    border-radius: 50px;
    background-color: transparent;
}

.cards__button-span {
    font-size: 12px;
}

.cards__button-span-sec {
    font-size: 16px;
    text-decoration: underline;
}

.cards__wrapper {
    margin-bottom: 18px;
}
